[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
api-gateway-lambda-proxy = {editable = true,path = "."}
flake8 = "~=3.7.7"
flake8-docstrings = "~=1.2.0"
flake8-import-order = "~=0.18.1"
mypy = "==0.700"
pytest = "~=4.4.0"

[packages]
# Use setup.cfg

[requires]
python_version = "3.7"

[scripts]
flake8 = "flake8 src/"
mypy = "mypy src/"
test = "pytest tests/"
